accelerate==0.30.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
arxiv==2.1.3
async-timeout==4.0.3
attrs==23.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dataclasses-json==0.6.6
deepdiff==7.0.1
dnspython==2.6.1
email_validator==2.1.1
emoji==2.11.1
exceptiongroup==1.2.1
faiss==1.7.4
fastapi==0.111.0
fastapi-cli==0.0.3
feedparser==6.0.11
filetype==1.2.0
frozenlist==1.4.1
fschat==0.2.36
fsspec==2024.3.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
intel-openmp==2021.4.0
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.3.8
langchain-huggingface==0.1.0
langchain-text-splitters==0.0.1
langdetect==1.0.9
langsmith==0.1.130
lxml==5.2.2
markdown-it-py==3.0.0
markdown2==2.4.13
marshmallow==3.21.2
mdurl==0.1.2
mkl==2021.4.0
mkl-service==2.4.0
multidict==6.0.5
mypy-extensions==1.0.0
nh3==0.2.17
nltk==3.8.1
ordered-set==4.1.0
orjson==3.10.3
packaging==23.2
pillow==10.3.0
prompt-toolkit==3.0.43
psutil==5.9.8
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.18.0
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pypdf==4.2.0
python-dotenv==1.0.1
python-iso639==2024.4.27
python-magic==0.4.27
python-multipart==0.0.9
PyYAML==6.0.1
rapidfuzz==3.9.0
regex==2024.5.10
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.7.1
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentence-transformers==2.7.0
sgmllib3k==1.0.0
shellingham==1.5.4
shortuuid==1.0.13
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.30
starlette==0.37.2
svgwrite==1.4.3
tabulate==0.9.0
tbb==2021.12.0
tenacity==8.3.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.4
transformers==4.40.2
typer==0.12.3
typing-inspect==0.9.0
ujson==5.10.0
unstructured==0.13.7
unstructured-client==0.22.0
uvicorn==0.29.0
watchfiles==0.21.0
wavedrom==2.0.3.post3
wcwidth==0.2.13
websockets==12.0
wrapt==1.16.0
yarl==1.9.4
